<header>
	<%= link_to image_tag("ATS_Logo.png", id: "logo") %>
	<nav class="mobile-nav">
		<div class="menu-btn" id="menu-btn">
				<span></span>
				<span></span>
				<span></span>
		</div>
		<span class="menu">Menu</span>
		<div class="responsive-menu">
	    	<ul>
	    		<li><%= link_to "Home", "#home" %></li>
	    		<li><%= link_to "Services", "#services" %></li>
	    		<li><%= link_to "About", "#about" %></li>
				<li><%= link_to "Contact", "#contact" %></li>
			</ul>
	    </div>
	</nav>
	<div class="quick_contact">
		<ul>
			<li>ATS Tree Services</li> -
			<li>215 Frontier Road, Perkasie, PA</li> -
			<li>adam@treehelp.net</li> -
			<li>(267) 679-6483</li> 
		</ul>
	</div>
</header>
