<section id="services">
	<h1 class="section_header">Tree Services</h1>
	<div class="services_list">
		<ul>
			<li>
				<span>Tree Pruning</span>
				<%= image_tag("tree_pruning.png", class: "symbol") %>
			</li>
			<li>
				<span>Tree Removal</span>
				<%= image_tag("tree_removal.png", class: "symbol") %>
			</li>
			<li>
				<span>Emergency Tree Service</span>
				<%= image_tag("emergency.png", class: "symbol") %>
			</li>
			<li>
				<span>Stump Grinding</span>
				<%= image_tag("stump.png", class: "symbol") %>
			</li>
				
			<li>
				<span>Firewood</span>
				<%= image_tag("firewood.png", class: "symbol") %>
			</li>

	 		<li>
	 			<span>Difficult removal<br><span class="smaller">(near electric lines <br>or buildings)</span></span>
	 			<%= image_tag("powerlines.png", class: "symbol") %>
	 		</li>
	 		<li>
	 			<span>Roof Patches</span>
	 			<%= image_tag("roof.png", class: "symbol") %>
	 		</li>
	 		<li>
	 			<span>Storm Clean-up</span>
	 			<%= image_tag("damage.png", class: "symbol") %>
	 		</li>
	 	</ul>
	 </div>
</section>