<%= render 'home/header' %>
<%= render 'home/slider' %>
<div class="parallax">
    <div class="bg__foo">foo</div>
    <%= render 'services/services' %>
    <div class="bg__bar">bar</div>
	<%= render 'about/about' %>
    <!-- <div class="bg__baz">baz</div> -->
    <div class="bg__bazz">bazz</div>
    <%= render 'contact/contact' %>
    <%= render 'home/footer' %>
 </div>

